/* GLOBAL STYLES */

body {
  margin:0;
  padding:0;
  background: white;  /* WHITE */
  color: black;  /* BLACK */
}

main {
	text-align: center;
	margin: 0 auto;
	max-width: 1500px;
}
}

header {
  background: #333; /* BLACK */
  color: white;     /* WHITE */
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 1em;
  font-family: 'Playfair Display SC';
  text-align: center;
  color: #E48B8B;  /* PINK*/
}

h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: black;  /* PINK*/
}

/* THIRD BREAKPOINT (MOBILE SIZE) */
@media screen and (min-width: 300px) {
  body {
    background: white;
	font-family: arial;
}
  section {
    width: 80%;
  }
}

  /* LEFT HAMBURGER (MOBILE SIZE) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
	color: white;
  }
}

  /* RIGHT HAMBURGER (MOBILE SIZE) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
	color: white;
  }
  
  /* TEXT (MOBILE SIZE) */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
	color: white;
  }

}
  /* END OF THIRD BREAKPOINT */

  /* SECOND BREAKPOINT (TABLET SIZE) */
@media screen and (min-width: 500px) {
  body {
	background: white;
	font-family: arial;
  }
  
  section {
	display: inline-block;
	width: 45%;
  }
}
  /* END OF SECOND BREAKPOINT */


  /* FIRST BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  body {
	background: white;
	font-family: arial;
  }
  section {
	width: 22%;
  }
}
  /* END FIRST BREAKPOINT */

 /* START OF NAV BAR */

nav {
  overflow: hidden;
  background-color: #E48B8B;  /* PINK*/
  max-width: 1500px;
  margin:0 auto;
  list-style:none;
  text-align: center;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;   /* WHITE */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li {
  float:left;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

nav a:hover {
  background-color: #717171; /* GREY */
  color: white; 
}

nav .icon {
  display: none;
}

* {
  box-sizing: border-box;
}

  /* END OF NAV BAR */
  
  
  /* SLIDESHOW */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -300%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: 'Libre Franklin';
  }

button:hover, a:hover {
  opacity: 0.7;
}

.logo {
text-align: center;
}


#map {
   width: 100%;
   height: 400px;
 }
 

.clear-fix {
	clear: both;
}

.masonry-container {
	width: 80vw;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}

.panel {
	position: relative;
	display: inline-block;
	width: calc((80vw - 60px)/3);
	height: calc((80vw - 60px)/3);
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-out;
}

.panel:hover {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
	transition: all 0.2s ease-out;
}

.panel:nth-child(11n+1) {
	margin-left: 0;
}

.panel:nth-child(11n+4) {
	margin-left: 0;
	width: calc(((80vw - 20px)/3)*2);
	height: calc((80vw - 60px)/3);
}

.panel:nth-child(11n+6) {
	margin-left: 0;
	float: left;
	width: calc((80vw - 60px)/3);
	height: calc(((80vw - 20px)/3)*2 - 8px);
}

.panel:nth-child(11n+6) > .panel-wrapper > .panel-img {
	transform: translateX(-25%);
}

.panel:nth-child(11n+7) {
	margin-left: 27px;
	width: calc(((80vw - 20px)/3)*2);
}

.panel:nth-child(11n+8) {
	margin-left: 27px;
}

.panel:nth-child(11n+9) {
	float: none;
}

.panel:nth-child(11n+10) {
	margin-left: 0;
	width: calc((80vw - 30px)/2);
}

.panel:nth-child(11n+11) {
	width: calc((80vw - 30px)/2);
}


.panel-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
}

.panel-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.panel-overlay:hover {
	opacity: 1;
	transition: all 0.3s ease-out;
}

.panel-text {
	position: absolute;
	width: 80%;
	height: 60px;
	margin: 0 auto;
	left: 25px;
	bottom: 0;
	z-index: 10;
}

.panel-title {
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 0;
	color: #fff;
}

.panel-tags {
	padding-top: 2px;
}

.tag-icon-img {
	display: inline-block;
	width: 10px;
	height: auto;
	transform: translateY(2px);
}

.tags-list {
	font-size: 0.55em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #fff;
}

.panel-gradient {
	position: absolute;
	width: 100%;
	height: 65%;
	bottom: 0;
	opacity: 0.65;
	z-index: 5;
}

.panel-vingette {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0.5;
}

.panel-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	min-width: 100%;
	height: 100%;
}
 

  /* FOOTER */
footer {
  position: bottom;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #E48B8B;  /* PINK*/
  color: white;
  text-align: center;
  padding: 30px;
  padding-bottom: 30px;
  
}
